<h1>Welcome to the Playlister!</h1>
<br>
<h2>Please Select a Category to Visit:</h2>
<ul>
    <a href='/songs'><li>Songs</li></a>
    <a href='/artists'><li>Artists</li></a>
    <a href='/genres'><li>Genres</li></a>
</ul>